.dash-side {
  position: fixed;
  top: 100px;
  left: 0;
  width: 20%;
  height: calc(100vh - 100px);
  padding: 20px;
  border-right: 4px solid var(--second-color);
  background-color: var(--main-color);
  transition: 0.3s;
  z-index: 10000;
  @include phones {
    width: 150px;
    transform: translateX(-150px);
  }
  ul {
    li {
      a {
        display: block;
        width: 100%;
        color: #fff;
      }
    }
  }
  > div {
    position: absolute;
    top: 0;
    right: -39px;
    display: none;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    cursor: pointer;
    @include phones {
      display: flex;
    }
    i {
      font-size: 20px;
      color: #fff;
    }
  }
  &.active {
    transform: translateX(0);
  }
}
