.dash-side {
  position: fixed;
  top: 100px;
  left: 0;
  width: 20%;
  height: calc(100vh - 100px);
  padding: 10px;
  border-right: 4px solid var(--second-color);
  background-color: var(--main-color);
  transition: 0.3s;
  z-index: 10000;
  @include phones {
    width: 150px;
    transform: translateX(-150px);
  }
  ul {
    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
      a,
      a:hover,
      a.active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 12px 10px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
        background-color: var(--alt-main-color);
        color: #fff;
        transition: 0.3s;
        div {
          display: flex;
          align-items: center;
          i {
            margin-right: 5px;
            font-weight: normal;
            @include phones {
              margin-right: 2px;
            }
          }
        }
        i {
          font-size: 20px;
          font-weight: bold;
          @include tablets {
            font-size: 16px;
            font-weight: normal;
          }
          @include phones {
            font-size: 16px;
            font-weight: normal;
          }
        }
        @include tablets {
          font-size: 15px;
        }
        @include phones {
          font-size: 15px;
        }
      }
    }
    li {
      a {
        background-color: var(--main-color);
      }
    }
  }
  > div {
    position: absolute;
    top: 0;
    right: -39px;
    display: none;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    cursor: pointer;
    @include phones {
      display: flex;
    }
    i {
      font-size: 20px;
      color: #fff;
    }
  }
  &.active {
    transform: translateX(0);
  }
}
