.sign-up,
.login,
.update,
.create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 0 20px;
  margin-top: 100px;
  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 20px;
    border: 3px solid var(--alt-main-color);
    border-radius: 15px;
    background-color: var(--main-color);
    color: #fff;
    transition: 0.3s;
    @include phones {
      width: 100%;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
      & h2::before {
        width: 97%;
      }
    }
    h2 {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      font-size: 40px;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        bottom: -5px;
        left: 2px;
        background-color: #fff;
        transition: 0.3s;
      }
    }
    input {
      padding: 8px 12px;
      margin-bottom: 10px;
      border-radius: 15px;
      font-size: 17px;
      font-weight: 500;
      color: var(--alt-main-color) !important;
      @include phones {
        font-size: 14px;
      }
    }
    label {
      position: relative;
      margin-bottom: 3px;
      font-weight: bold;
      font-size: 18px;
    }
    p {
      position: relative;
      width: fit-content;
      padding: 6px 10px;
      margin-top: 3px;
      margin-bottom: 5px;
      border-bottom: 3px solid var(--alt-error-color);
      border-radius: 10px;
      background-color: var(--error-color);
      @include phones {
        font-size: 14px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -16px;
        left: 10px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent var(--error-color) transparent;
      }
    }
  }
}
.update {
  form {
    border-color: var(--alt-third-color);
    background-color: var(--third-color);
    input {
      color: var(--alt-third-color) !important;
    }
    .btn {
      color: var(--alt-third-color);
      &:hover {
        background-color: var(--third-color);
        color: #fff;
      }
    }
  }
}
.create {
  form {
    border-color: var(--alt-fourth-color);
    background-color: var(--fourth-color);
    input {
      color: var(--alt-fourth-color) !important;
    }
    .btn {
      color: var(--alt-fourth-color);
      &:hover {
        background-color: var(--fourth-color);
        color: #fff;
      }
    }
  }
}
