.ul-i {
  position: fixed;
  top: -200px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--alt-main-color);
  transition: 0.3s;
  z-index: 100;
  @include phones {
    display: flex;
  }
  &.active {
    top: 100px;
  }
  li {
    width: 100%;
    a {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
      background-color: var(--main-color);
      color: #fff;
    }
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
