.users {
  padding: 20px;
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    tr:nth-child(even) {
      background-color: #f1f7f8;
    }
    th,
    td {
      padding: 12px;
      border: 1px solid var(--main-color);
      text-align: center;
    }
    th {
      background-color: var(--alt-main-color);
      color: #fff;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      i {
        font-size: 24px;
        cursor: pointer;
        @include phones {
          font-size: 18px;
        }
      }
      .edit {
        color: var(--second-color);
        margin-right: 10px;
        @include phones {
          margin-right: 5px;
        }
      }
      .del {
        color: var(--error-color);
      }
    }
  }
}
