@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color: #1abc9c;
  --alt-main-color: #16a085;
  --second-color: #2ecc71;
  --palceholde-color: #95a5a6;
  --error-color: #e74c3c;
  --alt-error-color: #c0392b;
  --main-font: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: var(--main-font);
}

input,
textarea {
  border: none;
  outline: none;
  font-family: var(--main-font);
}

input::placeholder,
textarea::placeholder {
  color: var(--palceholde-color);
}

.container {
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.btn {
  width: fit-content;
  padding: 8px 20px;
  margin: 5px auto 0;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 15px;
  color: var(--alt-main-color);
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

nav.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-main-color);
  height: 100px;
  border-bottom: 4px solid var(--second-color);
}
nav.nav .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.nav .container > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.nav .container > div > a img {
  width: 70px;
}
nav.nav .container > div .right {
  display: flex;
}
nav.nav .container > div .right ul {
  display: flex;
}
@media (max-width: 480px) {
  nav.nav .container > div .right ul {
    display: none;
  }
}
nav.nav .container > div .right ul li a {
  color: #fff;
  padding: 10px 12px;
  background-color: var(--main-color);
}
nav.nav .container > div .right .btns {
  margin-left: 20px;
}
nav.nav .container > div .right .btns a {
  padding: 6px 12px;
}
@media (max-width: 480px) {
  nav.nav .container > div .right .btns a {
    font-size: 15px;
  }
}
nav.nav .container > div .right .btns a:not(:last-of-type) {
  margin-right: 8px;
}
nav.nav .container > div .right .btns a:hover {
  background-color: var(--alt-main-color);
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 0 20px;
  margin-top: 100px;
}
.sign-up form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  border: 3px solid var(--alt-main-color);
  border-radius: 15px;
  background-color: var(--main-color);
  color: #fff;
  transition: 0.3s;
}
@media (max-width: 480px) {
  .sign-up form {
    width: 100%;
  }
}
.sign-up form:hover {
  -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
}
.sign-up form input {
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
  color: var(--alt-main-color) !important;
}
@media (max-width: 480px) {
  .sign-up form input {
    font-size: 14px;
  }
}
.sign-up form label {
  position: relative;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
}
.sign-up form p {
  position: relative;
  width: fit-content;
  padding: 6px 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  border-bottom: 3px solid var(--alt-error-color);
  border-radius: 10px;
  background-color: var(--error-color);
}
@media (max-width: 480px) {
  .sign-up form p {
    font-size: 14px;
  }
}
.sign-up form p::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 10px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--error-color) transparent;
}

.home {
  margin-top: 100px;
}
.home .container > div h1 {
  color: var(--main-color);
}

/*# sourceMappingURL=main.css.map */
